

/* dropdown */

.dropdown-custom .Select-control {
  background-color: #111 !important;
  color: #f0f0f0 !important;
  border: 1px solid #444 !important;
  border-radius: 4px !important;
  height: auto;
  display: flex !important;
  align-items: center !important;
}

.dropdown-custom .Select-value-label {
  color: #f0f0f0 !important;
}

.dropdown-custom .Select-menu-outer {
  background-color: #222 !important;
  color: #f0f0f0 !important;
}

.dropdown-custom .Select-menu-outer .Select-option:hover {
  background-color: #444 !important;
  color: #fff !important;
}

.VirtualizedSelectOption {
    background-color: #333333 !important;
    color: #ffffff !important;
}
.VirtualizedSelectFocusedOption {
    background-color: #444444 !important;
    color: #ffffff !important;
}




/* card */

.card-header {
    color: #3fa796;
    font-weight: bold;
    font-size: 16px;
}

.card-body-name {
    color: #cccccc;
    font-weight: bold;
    font-size: 15px;
}

.card-body-value {
    font-weight: bold;
    font-size: 18px;
}